.faivorite {
    margin-right: -72%;
    .favoriteContent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        &__oval {
            top: -17px;
            position: relative;
             
        }
        &__white {
            position: relative; 
            bottom: 28px;
            left: 10px;
        }
        // &__oval {
        //     position: absolute;
        //     z-index: 1;
            
        // } 
        // &__white {
        //     z-index: 2;
        //     cursor: pointer;
        // }
    }
}