.cont {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    height: 700px;
    width: 834px;
    margin-top: 2%;
    z-index: 25;
    &__titlePage {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Helvetica;
        font-size: 22px;
        margin-top: calc(50% - 25px/2 - 380.5px);
    }
  
    &__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;   
        margin-top: 5%;
        .label {
            font-family: Helvetica;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            margin-bottom: 1%;
        }    
        .obvious::after {
            content: '\002A';
            color: red;
            margin-left: 2%;
        }
        input {
            width: 664px;
            height: 58px;    
            background: #F9FAFB;
            border: 1px solid #DEDEE0;
            box-sizing: border-box;
            border-radius: 5px;   
            margin-bottom: 2%;            
            padding-left: 2%
        }
        button {
            font-family: Helvetica;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.4px;
            text-transform: uppercase;            
            background: #349A89;
            border-radius: 5px; 
            color: white;
            padding: 2% 7%;
            margin-top: 1%;
        }
        button:disabled{
            background-color: grey;
        }
    }
    &__photos {
   
        width: 664px;
        height: 124px;         
        background: #F9FAFB;
        border: 1px solid #DEDEE0;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 2%;
        cursor: pointer;
        .cont__photos_content {     
            display: flex;
            
            .choosenImages {
                display: flex;
                justify-content: flex-end;
                background: #E4E4E4;
                border-radius: 4px;
                width: 92px;
                height: 92px; 
                margin-top: 16px;
                margin-left: 16px;
                margin-left: 16px;
                &__delete {
                    position: absolute;
                    
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .addPhotos {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #E4E4E4;
                border-radius: 4px;
                width: 92px;
                height: 92px; 
                margin-top: 16px;
                margin-left: 16px;
                input {
                    
                }
            }

        }
    }
}