@import '../../scss/variables';

.sendMessageBlock {
    display: flex;
    position: absolute;    
    bottom: 10%; 
    width: 56%;
    height: 5%;

    input {
        width: 97%;
        height: 95%;
    }
    .sendMessageIcon {
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 50px;
       background-color: $primary;
    }
}
.messageContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__item{
       color: green;
       display: flex;
       flex-direction: column;

    }
  
    &__inf {        
        padding-left: 4%;
    }
    &__itemOwn {
        background: #FFFFFF;
        //transform: matrix(-1, 0, 0, 1, 0, 0);
        width: 266.31px;
        height: 56.49px;
        width: 242px;
        height: 44px;
        display: flex;
        margin-left: 68%;
        align-items: center;
        margin-top: 5%;
    }
    &__itemCustomer {
        color: $white-color;
        background-color: $primary;
        width: 182.78px;
        height: 38.52px;
        margin-top: 5%;
        margin-bottom: 1%;
        margin-left: 5%;
        border-radius: 25% 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.timeMessageAgoOwn {
    opacity: 0.6;
    display: flex;
    // justify-content: space-between;
    background-color: red;
    width:  10vh;
    // margin-left: 84%;
    margin-left:  30vw ;
 
}   
.timeMessageAgoCustomer {
    opacity: 0.3;
    display: flex;
    // justify-content: space-between;
    width: 10vh;   
    margin-left: 14%;
}   


.list {
    height: calc(80vh - 210px);   
}


 