.container{
    display: flex;
    flex-direction: column;
    label {
        display: flex;
        flex-direction: column;
        .labelTitle {
          margin-bottom: 1%;
        }
          input {
            height: 38px;
            background: #F9FAFB;
            border: 1px solid #DEDEE0;
            box-sizing: border-box;
            border-radius: 5px;
            margin-bottom: 7%;
      }
    }
  }