.continue {
    margin-bottom: 7%;
    background: #349A89;
    border-radius: 5px;
    height: 58px;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
 }

 .continue:disabled {
    background:grey;

 }