@import './scss/nullstyle.scss';
@import '../node_modules/normalize.css/normalize.css';

body {
    background-color: #F2F2F2;
}
.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-direction: column;    
    height : 100vh;
}

